<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Fragment</title>
</head>
<body>
    <div th:fragment="navigationFragment" style="display: flex;justify-content: space-between; background-color:antiquewhite;">
        <header style="cursor: pointer;" onclick="window.location.href='/students'">Student Registration</header>
        <ul style="list-style-type: none;display:flex;justify-content: flex-end;margin: 0;">
            <li><a href="/students/addStudent">Add student</a></li>
            <li><a href="/students/update">Update student</a></li>
            <li><a href="/students/getStudentById">Add student</a></li>
            <li><a href="/students/deleteStudentById">Add student</a></li>
        </ul>
    </div>
</body>
</html>