<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Fragment</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="navbar-container" th:fragment="navigationFragment">
    <header onclick="window.location.href='/students'">Student Portal</header>
    <ul>
        <li class="navItem"><a th:href="@{/students/addStudent}">Add Student</a></li>
        <li class="navItem"><a th:href="@{/classes/addClass}">Add Class</a></li>
        <li class="navItem"><a th:href="@{/students/findStudents}">Search</a></li>
    </ul>
</div>
</body>
</html>
