.container {
    display :flex;
    justify-content: center;
    flex-direction : column;
    height : 80%;
    align-items : center;
    gap : 20px;
    width: 100%;
}
.container form > input{
    padding : 13px;
    border : 1px solid black;
    border-radius : 6px;
    width: 300px;
}
.container form > input:focus {
   border: 1px solid #7086ff;
}
.submitButton {
    padding : 10px 20px;
    color : white;
    border-radius : 5px;
    background-color : #2443f0;
    cursor :pointer;
}
table {
    width: 100%
}
.sub-container {
    display: flex;
    width: 80%;
    justify-content : space-around;
    padding: 5px;
    margin : 0 auto;
}
table tr {
    text-align : center;
}
table td,th {
    padding : 10px;
}
table tr:nth-child(2n) {
    background-color : #bfbfbf;
}
table thead > tr {
    background-color : black;
    color : white;
}
