.container {
    display :flex;
    justify-content: center;
    flex-direction : column;
    height : 80%;
    align-items : center;
    gap : 20px;
}
.container form > input{
    padding : 13px;
    border : 1px solid black;
    border-radius : 6px;
    width: 300px;
}
.container form > input:focus {
   border: 1px solid #7086ff;
}
.submitButton {
    padding : 10px 20px;
    color : white;
    border-radius : 5px;
    background-color : #2443f0;
    cursor :pointer;
}
table {
    width: 100%
}
thead , tbody {
    display : flex;
    justify-content : space-between;
}
table, th, td {
    border : 1px solid black;
}