.container {
    display :flex;
    justify-content: center;
    flex-direction : column;
    height : 80%;
    align-items : center;
    gap : 20px;
    width: 100%;
}
.container form > input{
    padding : 13px;
    border : 1px solid black;
    border-radius : 6px;
    width: 300px;
}
.container form > input:focus {
   border: 1px solid #7086ff;
}
.submitButton {
    padding : 10px 20px;
    color : white;
    border-radius : 5px;
    background-color : #2443f0;
    cursor :pointer;
}
table {
    width: 100%
}
.sub-container {
    display: flex;
    width: 80%;
    justify-content : space-around;
    padding: 5px;
    margin : 0 auto;
}
table tr {
    text-align : center;
}
table td,th {
    padding : 10px;
}
table tr:nth-child(2n) {
    background-color : #363636;
    color : white;
}

table thead > tr {
    background-color : black;
}
.del_btn_color {
    background-color : #cc1b2f;
    color :white;
}
.del_btn_color:hover {
    background-color : #9e2331;
}
.upd_btn_color {
    background-color : #2656bd;
    color :white;
}
.upd_btn_color:hover {
    background-color : #194094;
}
.action_button {
    padding: 5px 20px;
    border : none;
    cursor : pointer;
    border-radius : 5px;
    text-decoration : none;
}

table td:last-child {
    with: 100%;
}
.button_container {
    display :flex;
    flex-direction: row;
    gap : 20px;
}
.findAllStu {
    padding : 10px 20px;
    font-size: 20px;
    color : white;
    border-radius : 5px;
    background-color : #2443f0;
    cursor :pointer;
    text-decoration : none;
}
.errMsg {
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for a 3D effect */
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    background-color: #8a1a25;
    color : white;
    margin-bottom : 10px;
}