* {
  margin: 0;
  padding:0;
}
ul > li , header{
  display: inline;
  margin: 0 10px;
  padding: 20px;
}
.navbar-container {
  margin:0;
  background-color : #d4d4d4;
}
header {
    font-size :30px;
}