<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <div th:replace=""></div>
    <form action="" >
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Enter your Name">
        </div>
        <div>
            <label for="name">Birth Of Date</label>
            <input type="text" id="bithOfdate">
        </div>
    </form>
</body>
</html>