<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/addStudent.css}">
</head>
<body>
    <div th:replace="fragments/navbar :: navigationFragment"></div>
    <div class="container">
        <span th:if="${message}" th:text="${message}" class="msg"></span>
        <form th:action="@{/students/add}" th:object="${student}" method="post">
            <div style="text-align: center;">
                <h3>Add Student Form</h3>
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Enter your Name" th:field="*{name}">
            </div>
            <div>
                <label for="name">Birth Of Date</label>
                <input type="date" id="bithOfdate" th:field="*{brith_of_date}">
            </div>
            <div>
                <label for="classes">Attend Classes</label>
                <select id="classes" multiple th:field="*{classes}">
                    <option th:each="class : ${classes}" th:value="${class.id}" th:text="${class.name}"></option>
                </select>
            </div>
            <button type="submit" class="subtmitbtn">Add Student</button>
        </form>
    </div>
</body>
</html>