<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navigationFragment"></div>
        <div style="display=flex;justify-content:center;padding: 20px; font-family:Arial;width: 100%;flex-direction:column;text-align: center;">
            <h1>Welcome to Student Registration</h1>
        </div>
    </body>
</html>