<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>
    <body>
        <div>
            <h1>Student Registration</h1>
        </div>
        <ul style="list-style-type: none;">
            <li><a href="/api/v2/students/add/">Add student</a></li>
            <li><a href="/api/v2/students/update/">Update student</a></li>
            <li><a href="/api/v2/students/getStudentById/">Add student</a></li>
            <li><a href="/api/v2/students/deleteeStudentById/">Add student</a></li>
        </ul>
    </body>
</html>